In [1]:
import numpy as np
import pandas as pd

In [66]:
all_US = pd.read_csv("data/temp/all_US_2010_to_2012.csv")

In [67]:
all_US.head()

,ADJINC,PWGTP,AGEP,CIT,COW,ENG,SCHL,SEX,WAGP,WKHP,WKW,FOD1P,FOD2P,PERNP
0,1061121,34,75,1,NaN,NaN,16.0,2,0.0,NaN,NaN,NaN,NaN,0.0
1,1061121,40,25,1,4.0,NaN,22.0,1,17000.0,20.0,1.0,5007.0,NaN,17000.0
2,1061121,49,26,1,4.0,NaN,19.0,2,13000.0,20.0,1.0,NaN,NaN,13000.0
3,1061121,55,3,1,NaN,NaN,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN
4,1061121,30,87,1,NaN,NaN,19.0,2,0.0,NaN,NaN,NaN,NaN,0.0

In [4]:
print("Target Petroleum Major Count: 2339")

Target Petroleum Major Count: 2339

In [5]:
# 2419 - Petroleum Engineering
print("Total Possible Petro Majors in 2010-2012 dataset   (weighted): ", all_US.query('FOD1P == 2419 | FOD2P == 2419')['PWGTP'].sum())
print("Total Possible Petro Majors in 2010-2012 dataset (unweighted): ", all_US.query('FOD1P == 2419 | FOD2P == 2419').shape[0])

Total Possible Petro Majors in 2010-2012 dataset   (weighted):  28495
Total Possible Petro Majors in 2010-2012 dataset (unweighted):  930

In [6]:
all_US.query('FOD1P == 2419 & SCHL == 21 & WKW == 1 & WKHP >= 35 & AGEP < 28')['PWGTP'].sum()

1139

In [7]:
all_US.query('(FOD1P == 2419 | FOD2P == 2419) & SCHL >= 21 & WKW == 1 & WKHP >= 35 & AGEP < 28 & PERNP > 0')['PWGTP'].sum()

1256

In [8]:
all_US.query('(FOD1P == 2419 ) & AGEP < 28')['PWGTP'].sum()

2339

In [130]:
recent_grads = all_US.query('SCHL >= 21 & AGEP < 28')
# recent_grads['PWGTP'].sum(), recent_grads.shape[0]

In [35]:
# 2416 mining and minerals, total should 756
all_US.query('(FOD1P == 2416 | FOD2P == 2416)  & AGEP < 28')['PWGTP'].sum()

756

In [10]:
all_US.query('(FOD1P == 2419 )')['PWGTP'].sum()

27155

In [ ]:
# 19631	14002	11636	617
#Total	Employed	Employed_full_time_year_round	Unemployed

In [13]:
all_US.query('FOD1P == 2419 & SCHL == 21')['PWGTP'].sum()

19631

In [129]:
all_US.query('FOD1P == 2419 & SCHL == 21 ')['PWGTP'].sum()

19631

In [62]:
all_US.query('FOD1P == 2419 & SCHL == 21')['PWGTP'].sum()

19631

In [63]:
# recent_grads = all_US.query('SCHL == 21 & WKW == 1 & WKHP >= 35 & AGEP < 28')

In [17]:
major_list = pd.read_csv("data/raw/majors-list.csv")
major_list = major_list[~major_list['FOD1P'].str.contains('bb')]
major_list['FOD1P'] = major_list['FOD1P'].astype(int)

In [19]:
recent_grads = recent_grads.merge(major_list, on='FOD1P')
recent_grads.head()

,ADJINC,PWGTP,AGEP,CIT,COW,ENG,SCHL,SEX,WAGP,WKHP,WKW,FOD1P,FOD2P,PERNP,Major,Major_Category
0,1061121,70,26,1,1.0,NaN,21.0,2,34000.0,40.0,1.0,3600.0,NaN,34000.0,BIOLOGY,Biology & Life Science
1,1061121,41,27,1,1.0,NaN,21.0,2,32000.0,40.0,1.0,3600.0,NaN,32000.0,BIOLOGY,Biology & Life Science
2,1061121,20,24,1,2.0,NaN,21.0,2,30000.0,36.0,1.0,3600.0,NaN,30000.0,BIOLOGY,Biology & Life Science
3,1061121,68,27,1,1.0,NaN,21.0,1,68000.0,80.0,1.0,3600.0,NaN,68000.0,BIOLOGY,Biology & Life Science
4,1061121,27,25,1,1.0,NaN,21.0,1,21000.0,40.0,1.0,3600.0,NaN,21000.0,BIOLOGY,Biology & Life Science

In [20]:
def weighted_median():
    return 0

In [21]:
recent_grads.groupby('FOD1P').agg({'PWGTP':['mean','min','max','median']})

            PWGTP
             mean min  max median
FOD1P
1100.0  30.994318   3  146   24.5
1101.0  28.612583   1  187   23.0
1102.0  30.173913   1  181   17.5
1103.0  30.090604   3  183   25.0
1104.0  36.048780   6  125   28.0
...           ...  ..  ...    ...
6211.0  37.548013   3  256   29.0
6212.0  37.896774   5  242   31.0
6299.0  36.618519   6  315   28.0
6402.0  37.628086   1  392   30.0
6403.0  39.800000   3   84   31.0

[173 rows x 4 columns]

In [31]:
!pip install wquantiles

Collecting wquantiles
  Downloading wquantiles-0.6-py3-none-any.whl (3.3 kB)
Collecting numpy>=1.18
  Using cached numpy-1.22.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.8 MB)
Installing collected packages: numpy, wquantiles
Successfully installed numpy-1.22.3 wquantiles-0.6

In [36]:
import wquantiles as wq

In [39]:
wq.median(recent_grads['WAGP'],recent_grads['PWGTP'])

36000.0

In [69]:
petro_recent_grads = recent_grads.query("FOD1P == 2419 & PERNP > 0")

In [70]:
petro_recent_grads.shape

(36, 14)

In [71]:
wq.median(petro_recent_grads['WAGP'],petro_recent_grads['PWGTP'])

109522.05882352941

In [72]:
wq.quantile(petro_recent_grads['WAGP'],petro_recent_grads['PWGTP'], .75)

123238.63636363637

In [73]:
wq.quantile(petro_recent_grads['WAGP'],petro_recent_grads['PWGTP'], .25)

94703.94736842105

In [6]:
def compute_major_stats(df):
    output = {}
    
    output['total'] = df['PWGTP'].sum()
    output['men'] = df.query("SEX == 1")['PWGTP'].sum()
    output['women'] = df.query("SEX == 2")['PWGTP'].sum()
    
    # compute income stats (by gender and not) 
    full_time = df.query("WKW == 1 & WKHP >= 35 & PERNP > 0")
    full_time_men = full_time.query("SEX == 1")
    full_time_women = full_time.query("SEX == 2")
    output['total median']  = int(wq.median(full_time['WAGP'], full_time['PWGTP']))
    if full_time_women.size > 0:
        output['women median']  = int(wq.median(full_time_women['WAGP'], full_time_women['PWGTP']))
    else: 
        output['women median']  = -1
    
    if full_time_men.size > 0:
        output['men median']  = int(wq.median(full_time_men['WAGP'], full_time_men['PWGTP']))
    else: 
        output['men median']  = -1

    
        
    return pd.Series(output, dtype=int)

out = recent_grads.groupby('FOD1P').apply(compute_major_stats)
out

In [170]:
out.loc[2419.0,:]

total             2339
men               2057
women              282
total median    107370
women median     70255
men median      110000
Name: 2419.0, dtype: int64

In [171]:
out.loc[2405.0,:]

total           32260
men             21239
women           11021
total median    60000
women median    61567
men median      60000
Name: 2405.0, dtype: int64

In [120]:
out.index

Float64Index([1100.0, 1101.0, 1102.0, 1103.0, 1104.0, 1105.0, 1106.0, 1199.0,
              1301.0, 1302.0,
              ...
              6205.0, 6206.0, 6207.0, 6209.0, 6210.0, 6211.0, 6212.0, 6299.0,
              6402.0, 6403.0],
             dtype='float64', name='FOD1P', length=173)

In [2]:
import pandas as pd
import numpy as np

In [47]:
data_10 = pd.read_csv("data/census/processed/10_edu_wage_data.csv")

In [53]:
data_10.query("SCHL >= 21 & AGEP < 28")['WKHP']

0         20.0
13        40.0
14        48.0
16        40.0
37        32.0
          ...
637150    40.0
637161    40.0
637168    40.0
637175    35.0
637200    40.0
Name: WKHP, Length: 59594, dtype: float64

In [60]:
data_10.query("SCHL >= 21 & AGEP < 28")['WKHP']

0         20.0
13        40.0
14        48.0
16        40.0
37        32.0
          ...
637150    40.0
637161    40.0
637168    40.0
637175    35.0
637200    40.0
Name: WKHP, Length: 59594, dtype: float64

In [3]:
data_14 = pd.read_csv("data/census/processed/14_edu_wage_data.csv")

In [4]:
recent_14 = data_14.query("SCHL >= 21 & AGEP < 28")

In [14]:
out = recent_14.groupby('FOD1P').apply(compute_major_stats_test)
out

TypeError: '>=' not supported between instances of 'str' and 'int'

In [13]:
def compute_major_stats_test(df):
    output = {}
    
    output['total'] = df['PWGTP'].sum()
    output['men'] = df.query("SEX == 1")['PWGTP'].sum()
    output['women'] = df.query("SEX == 2")['PWGTP'].sum()
    
#     # compute income stats (by gender and not) 
    full_time = df.query("WKW == 1 & WKHP >= 35 & PERNP > 0")
    full_time_men = full_time.query("SEX == 1")
    full_time_women = full_time.query("SEX == 2")
    output['total median']  = int(wq.median(full_time['WAGP'], full_time['PWGTP']))
#     if full_time_women.size > 0:
#         output['women median']  = int(wq.median(full_time_women['WAGP'], full_time_women['PWGTP']))
#     else: 
#         output['women median']  = -1
    
#     if full_time_men.size > 0:
#         output['men median']  = int(wq.median(full_time_men['WAGP'], full_time_men['PWGTP']))
#     else: 
#         output['men median']  = -1

    
        
    return pd.Series(output, dtype=int)

In [35]:
pd.Series(np.isreal(recent_14['WKHP'])).value_counts()

True    64992
dtype: int64

In [43]:
recent_14[recent_14['WKHP']==' ']['WKHP'].str.isdigit()

10        False
346       False
364       False
661       False
689       False
          ...
694528    False
694711    False
694751    False
694796    False
694870    False
Name: WKHP, Length: 6844, dtype: bool

In [45]:
recent_14['WKHP'].str.isdigit().value_counts()

True     58148
False     6844
Name: WKHP, dtype: int64

In [46]:
recent_14[recent_14['WKHP'].str.isdigit()]

,ADJINC,PWGTP,AGEP,CIT,COW,ENG,SCHL,SEX,WAGP,WKHP,WKW,ESR,FOD1P,FOD2P,PERNP
8,1008425,98,26,1,1.0,NaN,21.0,2,21700,40,1.0,1.0,6402.0,NaN,21700
46,1008425,28,26,1,2.0,NaN,21.0,2,8600,30,1.0,1.0,3301.0,3302.0,8600
62,1008425,69,27,1,1.0,NaN,21.0,1,63000,45,1.0,1.0,6212.0,NaN,63000
63,1008425,59,27,1,3.0,NaN,21.0,2,48000,45,1.0,1.0,2310.0,NaN,48000
82,1008425,77,25,1,1.0,NaN,21.0,1,10000,25,3.0,1.0,6099.0,1901.0,10000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695590,1008425,181,27,1,3.0,NaN,21.0,1,47000,40,2.0,1.0,6109.0,2306.0,49500
695591,1008425,154,27,1,1.0,NaN,24.0,2,118000,36,1.0,1.0,6102.0,NaN,118000
695604,1008425,114,21,1,2.0,NaN,21.0,2,20000,40,4.0,1.0,2304.0,NaN,20000
695610,1008425,57,27,1,1.0,NaN,21.0,1,90000,40,1.0,1.0,2419.0,NaN,90000
695629,1008425,43,26,1,2.0,NaN,21.0,2,27000,35,1.0,1.0,5200.0,NaN,27000

In [65]:
recent_14[recent_14['PERNP']!=' ']['PERNP'].astype(int)

8          21700
10             0
46          8600
62         63000
63         48000
           ...
695590     49500
695591    118000
695604     20000
695610     90000
695629     27000
Name: PERNP, Length: 64992, dtype: int64

In [90]:
import wquantiles as wq

In [122]:

def compute_major_stats(df):
	"""
	Given a dataframe of entries for a specific major
	
	Input:
	-----
	df  (pandas.DataFrame) : Dataframe with majors data, must all have the same FOD1P code and the following colums
		PWGTP - weight per entry
		SEX   - person's sex 
		WAGP  - income
		WKW   - encoding for weeks worked (1 - 50 to 52 weeks / year)
		WKHP  - typical hours per week (in hours) 
		
	Output:
	------
	A pandas.Series with counts for total majors, male majors, and female majors, as well as median incomes for
	all majors, as well for male and female majors separately. 
	"""
	output = {}
    
	# get counts for men, women, and both
	output['total'] = df['PWGTP'].sum()
	output['men'] = df.query("SEX == 1")['PWGTP'].sum()
	output['women'] = df.query("SEX == 2")['PWGTP'].sum()
    
#     # compute income stats (by gender and not) 
	df = df[df['WKHP']!=' '] # drop any rows with empty wkhp 
	df['WKHP'] = df['WKHP'].astype(float)
	full_time = df.query("WKW == 1 & WKHP >= 35")
	# full_time_men = full_time.query("SEX == 1")
	# full_time_women = full_time.query("SEX == 2")
	output['total median']  = int(wq.median(full_time['WAGP'], full_time['PWGTP']))
    
# 	# compute median earnings split by men & women, if no data points, return -1 
# 	if full_time_women.size > 0:
# 		output['women median']  = int(wq.median(full_time_women['WAGP'], full_time_women['PWGTP']))
# 	else: 
# 		output['women median']  = -1
	
# 	if full_time_men.size > 0:
# 		output['men median']  = int(wq.median(full_time_men['WAGP'], full_time_men['PWGTP']))
# 	else: 
# 		output['men median']  = -1
        
	return pd.Series(output, dtype=int)

NameError: name 'df' is not defined

In [99]:
recent_14 = recent_14[recent_14['WKHP']!=' '] # drop any rows with empty wkhp 
recent_14['WKHP'] = recent_14['WKHP'].astype(float)

In [105]:
recent_14.query("WKW == 1 & WKHP >= 35")['PWGTP']

8          98
62         69
63         59
169        74
176       207
         ...
695549    194
695570     57
695591    154
695610     57
695629     43
Name: PWGTP, Length: 32904, dtype: int64

In [108]:
ft_14  = recent_14.query("WKW == 1 & WKHP >= 35")

,ADJINC,PWGTP,AGEP,CIT,COW,ENG,SCHL,SEX,WAGP,WKHP,WKW,ESR,FOD1P,FOD2P,PERNP
8,1008425,98,26,1,1.0,NaN,21.0,2,21700,40.0,1.0,1.0,6402.0,NaN,21700
62,1008425,69,27,1,1.0,NaN,21.0,1,63000,45.0,1.0,1.0,6212.0,NaN,63000
63,1008425,59,27,1,3.0,NaN,21.0,2,48000,45.0,1.0,1.0,2310.0,NaN,48000
169,1008425,74,23,1,7.0,NaN,21.0,2,32400,40.0,1.0,1.0,1901.0,NaN,32400
176,1008425,207,24,1,2.0,NaN,21.0,2,47000,40.0,1.0,1.0,6107.0,NaN,47000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695549,1008425,194,25,5,2.0,1.0,21.0,2,30000,48.0,1.0,1.0,6107.0,NaN,30000
695570,1008425,57,27,1,1.0,NaN,21.0,1,55000,40.0,1.0,1.0,6203.0,NaN,55000
695591,1008425,154,27,1,1.0,NaN,24.0,2,118000,36.0,1.0,1.0,6102.0,NaN,118000
695610,1008425,57,27,1,1.0,NaN,21.0,1,90000,40.0,1.0,1.0,2419.0,NaN,90000
695629,1008425,43,26,1,2.0,NaN,21.0,2,27000,35.0,1.0,1.0,5200.0,NaN,27000

In [110]:
wq.median(ft_14['WAGP'], ft_14['PWGTP'])

40000.0

In [121]:
major_stats = recent_14.groupby('FOD1P').apply(compute_major_stats)

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [113]:
full_time

NameError: name 'full_time' is not defined

In [125]:
majors_14 = list(recent_14['FOD1P'].unique())

In [128]:
for major in majors_14:
    major_df = recent_14[recent_14['FOD1P']==major]
    if major_df.shape[0] <5:
        print("major: {}, count: {}".format(major, major_df.shape[0]))

major: 2415.0, count: 3
major: 3801.0, count: 2

In [135]:
# compute_major_stats(recent_14[recent_14['FOD1P']==2415])
special_major = recent_14[recent_14['FOD1P']==2415]
special_major

,ADJINC,PWGTP,AGEP,CIT,COW,ENG,SCHL,SEX,WAGP,WKHP,WKW,ESR,FOD1P,FOD2P,PERNP
13204,1008425,85,27,1,1.0,1.0,22.0,1,55000,40.0,2.0,1.0,2415.0,NaN,55000
22831,1008425,99,22,1,1.0,NaN,21.0,1,1300,38.0,6.0,1.0,2415.0,2413.0,1300
585262,1008425,131,26,1,1.0,NaN,22.0,1,27000,42.0,3.0,1.0,2415.0,2413.0,27000

In [136]:
special_major = special_major[special_major['WKHP']!=' '] # drop any rows with empty wkhp 
special_major['WKHP'] = special_major['WKHP'].astype(float)
full_time_special = special_major.query("WKW == 1 & WKHP >= 35")

In [139]:
wq.median(full_time_special['WAGP'], full_time_special['PWGTP'])

ValueError: array of sample points is empty

In [140]:
pd.read_csv("data/census/processed/2010_recent_grad_stats_by_major.csv")

,FOD1P,total,men,women,total median,women median,men median,Major,Major_Category
0,1100.0,11162,6490,4672,34000,30375,34463,GENERAL AGRICULTURE,Agriculture & Natural Resources
1,1101.0,14662,9810,4852,38000,34194,40000,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources
2,1102.0,2400,1759,641,36124,36442,36438,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources
3,1103.0,19482,4511,14971,30230,32000,29737,ANIMAL SCIENCES,Agriculture & Natural Resources
4,1104.0,3481,1427,2054,27272,9333,54918,FOOD SCIENCE,Agriculture & Natural Resources
...,...,...,...,...,...,...,...,...,...
168,6211.0,42426,14619,27807,32000,32000,30000,HOSPITALITY MANAGEMENT,Business
169,6212.0,18382,12201,6181,50000,47138,50000,MANAGEMENT INFORMATION SYSTEMS AND STATISTICS,Business
170,6299.0,17080,9199,7881,37000,38500,35000,MISCELLANEOUS BUSINESS & MEDICAL ADMINISTRATION,Business
171,6402.0,141904,74850,67054,35000,32000,38000,HISTORY,Humanities & Liberal Arts
172,6403.0,3747,2517,1230,39761,33128,40000,UNITED STATES HISTORY,Humanities & Liberal Arts